

* {
    height: 150vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}



.navbar .logo {
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.7);
    border-bottom: 1px solid #fffb00;
}

nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li a{
    line-height: 80px;
    color: #fffb00;
    padding: 12px 30px;
    bottom: -2px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}


.socials-container {
    display: flex;
    gap: 20px;
}

.socials-container a {
    background-color: #ebebf6;
    padding: 1em;
    border-radius: 50%;
    height: 64px;
    width: 64px;
    box-sizing: border-box;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}


.socials-container a svg {
    height: 32px;
}









